{% extends "template.html" %}
{% block title %}信息收集系统{% endblock %}
{% block page_content %}
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="appendForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">创建通知</h4>
                </div>
                <div class="modal-body">
                    <label for="appendForm-content">请输入通知名：</label><input type="text" id="appendForm-content"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="appendFormSubmit" type="button" class="btn btn-primary" data-dismiss="modal">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 style="text-align: center">
                    通知列表 (共&nbsp;{{ count }}&nbsp;条)
                    {% if user and user.permission == 1 %}
                        <button id="appendBtn" class="btn btn-default" data-toggle="modal" data-target="#appendForm">
                            <span class="glyphicon glyphicon-plus"></span> 添加
                        </button>
                    {% endif %}
                </h3>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <td>通知编号</td>
                        <td>通知内容</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.content }}</td>
                            <td>
                                <div>
                                    <button class="btn btn-default"
                                            onclick="toggleCollapse({{ loop.index }}, {{ item.id }})">详情
                                    </button>
                                    {% if user and user.nickname %}
                                        {% if item.id in checked_list %}
                                            <button class="btn btn-default disabled" disabled="disabled">已确认</button>
                                        {% else %}
                                            <button class="btn btn-default" onclick="checkNf({{ item.id }})">确认
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding: 0">
                                <div id="collapse{{ loop.index }}" class="collapse">
                                    <h4>正在加载...</h4>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block otherscripts %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
