{% extends "template.html" %}
{% block title %}信息确认统计系统-登录{% endblock %}
{% block page_content %}
    <div class="col-lg-6 col-lg-offset-3">
        <div class="well well-sm">
            <h3 style="text-align: center">登录</h3>
            <form method="post" enctype="multipart/form-data" action="/session/login">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.remember_me) }}
                {{ form.submit }}
            </form>
        </div>
    </div>
{% endblock %}
